.customizedButton {
	background: #eee;
	border: solid 1px #333;
	padding: 0 6px;
	margin-right: 5px;
}
.customizedButton:hover {
	opacity: 0.6;
	cursor: pointer;
}

.disabledButton {
	background: #eee;
	border: solid 1px #ccc;
	color: #999;
	padding: 0 6px;
	margin-right: 5px;
}