@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);

/* colours

  text colour (dark blue): #23659c;
  
  light blue = #2777b6
  medium blue = #1b86bc

  darker yellow = #f9ca0e
  lighter yellow = #f6df11

  black, white

*/

/* general styling */
body{
    width:1200px;
    background: url("../_img/texture_grain_200x200_v2.png");
    font-family: "Sintony", sans-serif;
    color: #23659c;
}

svg{
    background: rgba(256,256,256,0.5);
    margin:0 0 20px 0;
        /*border: 8px solid #23659c;*/
    /*border-radius: 5px;*/

}
.main-section{
        border: 8px solid #23659c;
    border-radius: 5px;
}
section{
    display:inline-block;
}

/* Connections chart */
.chart-title {
  fill: #23659c;
}

#connections{
    width:100%;
    height:450px;
    /*height:300px;*/
}

#industry-viz{
    float:left;
    width: calc(100% - 610px);
    /*height:300px;*/
}

#industry-member-preview{
    float:left;
    width : 400px;
    overflow-y: auto;
}

#industry-viz .titles{
    color: #23659c;
    fill: #23659c;
    font-size: 0.8em;
}

#industry-viz .tick text{
    fill:#aaa;
    font-size:.75em;
    font-weight:normal;
}

#industry-viz .axis path{
    fill:none;
    stroke:#aaa;
    stroke-width:1px;
}

#industry-viz line{
    fill:none;
    stroke:#ccc;
    stroke-width:1px;
}
#industry-viz .grid{
    fill:none;
    stroke:#ccc;
    /*stroke-dasharray:5,5;*/
    stroke-width:1px;
}

/* PROFILE */

.user-industry-profile
{
    width: 90px;
    padding:0 0 5px 5px;
    float:left;
}
.user-industry-profile :hover
{
    background-color:#eee;
}
/*
.user-industry-profile-hover {
    background-color:#eee;
}*/

.user-industry-profile ul li:hover{
    background-color: #eee;         
}
.user-industry-profile img
{
    width: 80px;
    height:80px;

}
.user-industry-profile h1
{
    font-size:.75em;
}

#user-profile{
    width:200px;
    border:1px solid #fff;
    float:left;
}

/* MAPS */

#world-map {
    position: relative;
    width: 1000px;
    height: 500px;
}

#datamaps-hoverover{
    /*postion:relative;*/
}


/* timeline viz */
.timeLine {
    stroke: black; 
    stroke-width: 2px;
}


/* unused? */
#people-search{

    width:45%;
}