/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2013, 5:22:27 PM
    Author     : Hassan
*/
body{
    width:1200px;
}
#people-search{

    width:45%;
}
#connections{
    width:100%;
    /*height:300px;*/
}
#industry-viz{
    float:left;
    width: calc(100% - 610px);
    /*height:300px;*/
}

#industry-member-preview{
    float:left;
    width : 400px;
    overflow-y: auto;

}
.timeLine {
    stroke: black; 
    stroke-width: 2px;
}
svg{
    background:#fff;
    margin:0 0 20px 0;
}

#industry-viz .titles{
    color: red;
    fill: red;
    font-size:1em;
    font-weight:bold;
}


#industry-viz .tick text{
    fill:#aaa;
    font-size:.75em;
    font-weight:normal;
}

#industry-viz .axis path{
    fill:none;
    stroke:#aaa;
    stroke-width:1px;
}

#industry-viz line{
    fill:none;
    stroke:#ccc;
    stroke-width:1px;
}
#industry-viz .grid{
    fill:none;
    stroke:#ccc;
    /*stroke-dasharray:5,5;*/
    stroke-width:1px;
}

/* PROFILE */

.user-industry-profile
{
    width: 90px;
    padding:0 0 5px 5px;
    float:left;
}
.user-industry-profile :hover
{
    background-color:#eee;
}
/*
.user-industry-profile-hover {
    background-color:#eee;
}*/

.user-industry-profile ul li:hover{
    background-color: #eee;         
}
.user-industry-profile img
{
    width: 80px;
    height:80px;

}
.user-industry-profile h1
{
    font-size:.75em;
}

#user-profile{
    width:200px;
    border:1px solid #fff;
    float:left;
}

/* MAPS */

#world-map {
    position: relative;
    width: 1000px;
    height: 500px;
}

#datamaps-hoverover{
    /*postion:relative;*/
}