@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);

/* colours

  text colour (dark blue): #23659c;
  
  light blue = #2777b6
  medium blue = #1b86bc

  darker yellow = #f9ca0e
  lighter yellow = #f6df11

  black, white

*/

/* general styling */
body{
    width:1200px;
    background: #333;
    font-family: "Sintony", sans-serif;
    color: #23659c;
}

svg{
    background: rgba(256,256,256,0.4);
    margin:0 0 20px 0;
<<<<<<< HEAD
    /*border: 8px solid #23659c;*/
    /*border-radius: 5px;*/
=======

>>>>>>> 939650bc1e1e3766afbd11eb7d644c2f8d7c3d8b

}

.main-section{
<<<<<<< HEAD
    border: 2px solid #23659c;
    /*margin:6px;*/
    margin: 0 0 10px 10px;
    /* padding:5px; */

    border-radius: 0px;
    display: inline-block;
=======
  border: 8px solid #23659c;
  border-radius: 5px;

>>>>>>> 939650bc1e1e3766afbd11eb7d644c2f8d7c3d8b
}
section{
    display:inline-block;
    float:left;
}

/* Connections chart */
.chart-title {
    fill: #23659c;
}
#profiles{
    width:100%;
    /*height: 300px;*/
    display: inline-block;
}
#connections{
    width: 818px;
    /*height:450px;*/
    /*height:300px;*/
}
#preview{
    width: 348px;
    height: 978px;
    overflow-y: auto;
}
#industry-viz{
    float:left;
    width: 100%;
    /*height:300px;*/
}

#member-preview{
    float:left;
    width : 400px;
    overflow-y: auto;
}
#member-preview ul{
    list-style-type: none; 
    padding:  0;
}
#member-popup
{
    /*color:#000;*/
    display:none;
    font-size: .75em;
    /* font-weight:bold; */
    max-width: 200px;
    padding: 5px;
    /* height:20px; */
    position:absolute;
    text-align:center;
    top:0;
    /* width:70px; */
    z-index:100;
    background-color: #fff;
}
#industry-viz .titles{
    color: #23659c;
    fill: #23659c;
    font-size: 0.8em;
}

#industry-viz .tick text{
    fill:#aaa;
    font-size:.75em;
    font-weight:normal;
}

#industry-viz .axis path{
    fill:none;
    stroke:#aaa;
    stroke-width:1px;
}

#industry-viz line{
    fill:none;
    stroke:#ccc;
    stroke-width:1px;
}
#industry-viz .grid{
    fill:none;
    stroke:#ccc;
    /*stroke-dasharray:5,5;*/
    stroke-width:1px;
}

/* PROFILE */

.user-industry-profile
{
    /*width: 90px;*/
    padding:0 0 5px 5px;
    float:left;
}
.user-industry-profile :hover
{
    background-color:#eee;
}
/*
.user-industry-profile-hover {
    background-color:#eee;
}*/

.user-industry-profile ul li:hover{
    background-color: #eee;         
}
.user-industry-profile img
{
    width: 80px;
    height:80px;

}
.user-industry-profile h1
{
    font-size:.75em;
}

.user-profile{
    padding: 10px;
    margin: 10px;
    width: calc(50% - 42px);
    height: 300px;
    overflow-y: auto;
    border:1px solid #fff;
    float:left;
    display: inline-block;
}
#industry
{
    height:450px;
}
/* MAPS */

#world-map {
    position: relative;
    width: 100%;
    height: 500px;
}

#datamaps-hoverover{
    /*postion:relative;*/
}


/* timeline viz */
.timeLine {
    stroke: black; 
    stroke-width: 2px;
}


/* unused? */
#people-search{

    width:45%;
}

.preview-header {
    width:100%;
    display:inline-block;
    font-weight: bolder;
    text-align:center;

    word-wrap: normal;
    word-break: break-word;
}