@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

/* colours

  dark blue = #23659c;
  light blue = #2777b6
  medium blue = #1b86bc

  darker yellow = #f9ca0e
  lighter yellow = #f6df11

  black, white

*/

/****** general styling ******/
body{
    width:1200px;
    background: #333;
    font-family: "Arimo", sans-serif;
    color: white;
    margin:  0 auto;
    font-size: 0.8em;
}

a {
    color: #fff;
}

img {
    border: 2px solid #23659c;
}

.main-section{
    margin: 0 0 10px 10px;
    /* display: inline-block; */
    background-color: rgba(255,255,255,.1);
    vertical-align: bottom;
}

section{
    display:inline-block;
    float:left;
}


/****** SVG styling ********/
svg{
    /* background: rgba(256,256,256,0.05); */
    margin:0 0 20px 0;
}

.chart-title, .titles, svg text {
    fill: #E0F1FF;
}

.chart-title {
    font-size: 1.25em;
}


/****** Connections chart ******/
#profiles{
    width: 1200px;
    display: inline-block;


    /* vertical-align: bottom; */

}

#connections{
    width: calc(100% - 13px);
    max-height: 975px;
}

#preview{
    width: 1190px;
    max-height: 300px;
    overflow-y: auto;
}

#industry-viz{
    float:left;
    width: 100%;
}

#member-preview{
    float:left;
    /* width: 400px; */
    overflow-y: auto;
}
#member-preview ul{
    list-style-type: none; 
    padding:  0;
}

.popup{

    color:  black; 
    font-size: .75em;
    padding: 5px;
    position:absolute;
    text-align:center;
    top:0;
    z-index:100;
    background-color: #fff;
}

#member-popup
{
    display:none;
    max-width: 300px;
}

#position-popup
{
    display:none;
    max-width: 300px;
}

.position-bar {
    fill: #23659c;
}

#industry-viz .tick text{
    fill:#aaa;
    font-size:.75em;
    font-weight:normal;
}

#industry-viz .axis path{
    fill:none;
    stroke:#aaa;
    stroke-width:1px;
}

#industry-viz line{
    fill:none;
    stroke:#ccc;
    stroke-width:1px;
}
#industry-viz .grid{
    fill:none;
    stroke:#ccc;
    /*stroke-dasharray:5,5;*/
    stroke-width:1px;
}

/****** PROFILE ******/
.user-industry-profile
{
    /*width: 90px;*/
    padding:0 0 5px 5px;
    float:left;
}

.user-industry-profile :hover
{
    background-color:#eee;
}

.user-industry-profile ul li:hover{
    background-color: #eee;         
}

.user-industry-profile img
{
    width: 80px;
    height:80px;

}

.user-industry-profile h1
{
    font-size:.75em;
}

.profile{

    display: inline-block;
    margin-bottom: 20px;
}

.user-profile{
    padding: 10px;
    margin: 10px;
    width: 350px;
    /* height: 300px; */
    overflow-y: auto;
    float:left;
    display: inline-block;
}

#industry
{
    height:450px;
}


/****** MAPS ******/
#world-map {
    position: relative;
    width: 1190px;
    height: 500px;
}


/****** timeline viz ******/
.timeline {
    width: 790px;
    display: none;
    display: inline-block;
}

.timeline-div{
    display:none;
}

#loading-box{
    width:200px;
    height:100px;
    text-align: center;
    border-radius:10px;
    background-color:rgba(214,220,229,.7);
    border:1px solid rgba(68,84,106,1);
    position:absolute;
    /*left: calc(50%-100px);*/
    /*top: calc(50%-50px);*/
    /*left: -webkit-calc(50%-100px);*/
    /*top: -webkit-calc(50%-50px);*/

    top: 300px;
    left:700px;
    z-index:100;
    padding:10px;
    display:none;
    text-size:1em;
    vertical-align: middle;
    line-height: 2em;


}
#loading-box img{
    width:40px;
    height:40px;
}

#preview-header{
    margin:10px auto;
    padding:5px;
    text-align:center;
}
