@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

/* colours

  dark blue = #23659c;
  light blue = #2777b6
  medium blue = #1b86bc

  darker yellow = #f9ca0e
  lighter yellow = #f6df11

  black, white

*/

/****** general styling ******/
body{
    width:1200px;
    background: #333;
    font-family: "Arimo", sans-serif;
    color: white;
    margin:  0 auto;
    font-size: 0.8em;
}

a {
    color: #fff;
}

img {
  border: 2px solid #23659c;
}

svg{
    /* background: rgba(256,256,256,0.05); */
    margin:0 0 20px 0;


}
svg text{
    fill: white;
}

.main-section{
    margin: 0 0 10px 10px;
    display: inline-block;
    background-color: rgba(255,255,255,.1);
    vertical-align: top;

}

section{
    display:inline-block;
    float:left;
}

/****** Connections chart ******/
.chart-title {
    fill: #E0F1FF;
}


#profiles, #remote-profiles{

    width:100%;
    display: inline-block;
}

#connections{
    width: 800px;
    max-height: 975px;
}

#preview{
    width: 374px;
    max-height: 970px;
    overflow-y: auto;
}

#industry-viz{
    float:left;
    width: 100%;
}

#member-preview{
    float:left;
    /* width: 400px; */
    overflow-y: auto;
}
#member-preview ul{
    list-style-type: none; 
    padding:  0;
}

.popup{

    color:  black; 
    font-size: .75em;
    padding: 5px;
    position:absolute;
    text-align:center;
    top:0;
    z-index:100;
    background-color: #fff;
}

#member-popup
{
        display:none;
    max-width: 300px;
}

#position-popup
{
    display:none;
    max-width: 300px;
}

.position-bar {
  fill: #23659c;
}

#industry-viz .titles{
    /* color: #23659c; */
    fill: rgb(173,25,198);
    font-size: 0.8em;
}

#industry-viz .tick text{
    fill:#aaa;
    font-size:.75em;
    font-weight:normal;
}

#industry-viz .axis path{
    fill:none;
    stroke:#aaa;
    stroke-width:1px;
}

#industry-viz line{
    fill:none;
    stroke:#ccc;
    stroke-width:1px;
}
#industry-viz .grid{
    fill:none;
    stroke:#ccc;
    /*stroke-dasharray:5,5;*/
    stroke-width:1px;
}

/****** PROFILE ******/
.user-industry-profile
{
    /*width: 90px;*/
    padding:0 0 5px 5px;
    float:left;
}

.user-industry-profile :hover
{
    background-color:#eee;
}

.user-industry-profile ul li:hover{
    background-color: #eee;         
}

.user-industry-profile img
{
    width: 80px;
    height:80px;

}

.user-industry-profile h1
{
    font-size:.75em;
}

.profile{

    display: inline-block;
    margin-bottom: 20px;
}

.user-profile{
    padding: 10px;
    margin: 10px;
    width: 350px;
    /* height: 300px; */
    overflow-y: auto;
    background: ;


    float:left;
    display: inline-block;
}

#industry
{
    height:450px;
}


/****** MAPS ******/
#world-map {
    position: relative;
    width: 800px;
    height: 500px;
}


/****** timeline viz ******/
.timeline {
    width:800px;
    display: none;
}

.timeline-div{
    display:none;
}
